<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" verbose="2">
  <test thread-count="1" name="OverseasCount">
    <classes>
      <class name="com.rcbteam.testcases.ValidateOverseasPlayers"/>
        </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="KeeperCount">
    <classes>
           <class name="com.rcbteam.testcases.ValidateWicketKeeper"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
